body{
	margin:0;
	font-size: 30px;
	font-family: sans-serif;
}
:root{
	--light-bg:#f9f9f9;
	--dark-bg:#f2f2f2;
	--content-color:#404042;
}

section{
	width:100%;
    height:auto;
	display:flex;
	flex-wrap: wrap;
	flex-direction:column;
	align-items:center;/*this is basically to bring everything in center when width of screen changes*/
	overflow: hidden;/*so that when size decrease then anything which goes beyond section is not visible*/
	min-width: 600px;
}
/*navbar*/
.navigation-bar
{
	width:100%;
	height:50px;
	background-color: var(--content-color);
}
.text{
	color:var(--dark-bg);
}
.right{
	float:right;
}
.left{
	float:left;
}
.icon{
	padding-top:5px;
	padding-left:15px;
	color:var(--dark-bg);
	padding-right:40px;
}
.buttons{
	display: inline-block;
	margin:12px;
	float:right;
	text-align: center;
	background-color: transparent;
	color:var(--dark-bg);
	outline:none;
	border:none;
}
.buttons:hover{
	cursor:pointer;
	transform: scale(1.3);
	transition: 200ms ease-in-out;
}
a{
	text-decoration: none;
	color:white;
}
.icon:hover{
	cursor:pointer;
	transform: scale(1.1);
	transition: 300ms ease-in-out;
}



/*part2*/
.part2{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}
.rotating-moods{
	width:70%;
	height:450px;
	background-color: var(--dark-bg);
}
.borders{
	margin-left: 10%;
	width:80%;
	height:10px;
	border-bottom:2px solid var(--content-color);
}
.main-box-moving
{
	margin:auto;
	width:200px;
	perspective:1000px;
	position:relative;
	padding-top: 65px;
}
.main-box-moving-item
{
	width:100%;
	position:absolute;
	animation:turn 15s infinite linear;
	transform-style: preserve-3d;
}
@keyframes turn
{
	0%
	{
		transform:rotateY(0deg);
	}
	100%
	{
		transform:rotateY(360deg);
	}
}

.main-box-moving-item:hover
{
	animation-play-state: paused;
	cursor:pointer;
}
.main-box-moving-item div
{
	width:100%;
	height:120px;
	border:1px solid black;
	position:absolute;
}
.main-box-moving-item div:nth-child(1)
{
	transform: rotateY(0deg) translateZ(320px);	
}
.main-box-moving-item div:nth-child(2)
{
	transform: rotateY(40deg) translateZ(320px);	
}
.main-box-moving-item div:nth-child(3)
{
	transform: rotateY(80deg) translateZ(320px);	
}
.main-box-moving-item div:nth-child(4)
{
	transform: rotateY(120deg) translateZ(320px);	
}
.main-box-moving-item div:nth-child(5)
{
	transform: rotateY(160deg) translateZ(320px);	
}
.main-box-moving-item div:nth-child(6)
{
	transform: rotateY(200deg) translateZ(320px);	
}
.main-box-moving-item div:nth-child(7)
{
	transform: rotateY(240deg) translateZ(320px);	
}
.main-box-moving-item div:nth-child(8)
{
	transform: rotateY(280deg) translateZ(320px);	
}
.main-box-moving-item div:nth-child(9)
{
	transform: rotateY(320deg) translateZ(320px);	
}
.items
{
	position:absolute;
	box-shadow:0 0 20px 0 #000;
	border-radius: 2px;
}
.main-box-moving-item img
{
	width:100%;
	height:100%;	
}

.main-box-moving-item img:hover
{

	border:1px solid black;
	transform:scale(1.4);
	transition:0.5s ease-in-out;

}

/*part2 queue side part*/
.queue{
	width:30%;
	height:450px;
	background-color:var(--light-bg);
}


.content{
	padding-left: 10%;
	width:80%;
	height:50%;
}
.border{
	width:100%;
	height:10px;
	border-bottom:2px solid var(--content-color);
}
.heading p{
	margin:2px;
	margin-bottom: 8px;
	text-align:center;
	color:black;
	font-size: 22px;
}
.scroll{
	width:100%;
	height:70%;
	overflow-y: auto;	
}
.list{
	width:100%;
	float:left;
	color:var(--content-color);
	opacity:0.8;
	font-size:20px;
	display:flex;
	flex-direction:row;
	margin-top: 2px;
	margin-bottom: 4px;
}
.songs{
	width:85%;
	display: inline-block;
}
.songs div{
	width:90%;
	height:22px;
	overflow:hidden;
}
.songs div:hover{
	animation:move 10s linear infinite ;
}
@keyframes move{
	0%{
		transform: translate(0px);

	}
	50%{
		transform: translate(-100px);
	}
	100%{
		transform: translate(0px);
	}
}
.song-icons{
	float:right;
	width:15%;
	display:inline-block;
	color:var(--content-color);
}
.heart i:hover{
	transform:scale(1.2);
	transition: all 300ms ease-in-out;
	color:red;
}
.permanent i{
	color:red;
}
.permanent i:hover{
	transform:scale(1.2);
	transition: all 300ms ease-in-out;
	color:var(--content-color);
}
@media screen and (max-width:940px)
{
	.queue{
	width:0%;
	height:450px;
	background-color:var(--light-bg);
    }
    .rotating-moods{
	width:100%;
	height:450px;
	background-color: var(--dark-bg);
    }
	
}
/*part3*/
.part3{
	width:100%;
	height:auto;
	background-color:var(--light-bg);
}
.borderss{
	
	width:80vw;
	margin-left:10vw;
	margin-right: 10vw;
	height:10px;
	border-bottom:2px solid var(--content-color);
}
.artist-block{

	width:80%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	margin:25px;
}
.artist-box{
	margin:25px;
	height:250px;
	width:220px;
	background-color: #dbdbdb;
	box-shadow: 0 0 2px 2px var(--content-color);
	overflow: hidden;
	
	
}
.artist-box-photo{
	height:200px;
	width:200px;
	margin:auto;
	margin-top:4px;
	border-radius:50%;
	box-shadow: 0 0 2px 2px var(--content-color);
	overflow:hidden;


}
.artist-box-photo img{
	width:100%;
	height:100%;
}
.artist-box-name{
	height:40px;
	width:inherit;
	overflow-wrap: break-word;
}
.artist-box-name p{
	margin:10px;
	text-align:center;
	color:black;
	font-size:15px;

}
.artist-box-photo:hover{
	transform: scale(1.1);
	cursor: pointer;
	transition:all 300ms ease-in-out;
}
.artist-box-name p:hover{
	transform: scale(1.2);
	cursor: pointer;
	transition:all 300ms ease-in-out;
}

/*part4*/
.part4{
	width:100%;
	height:auto;
	background-color:var(--dark-bg);
}
.language-songs{
	width:90%;
	height:auto;
	margin-top: 35px;
	margin-bottom: 35px;
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	justify-content:space-around;
	align-content: center;

}
.english-songs{
	width:440px;
	height:400px;
	margin:25px;
	background-color:var(--light-bg);
}
.hindi-songs{
	width:440px;
	height:400px;
	margin:25px;
	background-color:var(--light-bg);
}
.contents{
	padding-left: 10%;
	width:80%;
	height:inherit;
}





/*footer or part5*/
.footer-navbar{
	width:100%;
	height:60px;
	background-color: var(--content-color);
	text-align: center;
	padding-top: -20px;
	padding-bottom:20px;
}
.footer-navbar p:hover{
	transform: scale(1.4);
	transition: all 1s ease-in-out;
}

/*LOGIN POPUP*/
#login-popup{
	width:0;
	height:0;
	position:fixed;
	top:10px;
	left:90%;
	overflow:hidden;
	transition:all 1s ease-in-out;

}
#login-popup:target{
	height:auto;
	width:60%;
	top:20%;
	left:20%;
	background-color: #dadada;
}
.navigation-bar-minor
{
	width:100%;
	height:30px;
	background-color: var(--content-color);
}
.text-minor{
	display: inline-block;
	color:var(--dark-bg);
	font-size:20px;
	margin:auto;
	padding-left: 45%;
}
.small-text{
	margin:6px;
	font-size: 18px;
}
.forms{
	width:40%;
	height:250px;
	background-color:var(--light-bg);
	margin:auto;
	margin-top:40px;
	margin-bottom: 40px;
	padding:30px;
	padding-left:70px;
	overflow:hidden;

}
.input-box{
	width:270px;
	margin-bottom: 30px;
	background-color: transparent;
	border-bottom: 2px solid black;
	position:relative;/*so that label can be kept on it*/
}
.input-box input{
	background-color: transparent;
	width:inherit;
    font-size: 18px;
    color:lightgrey;
	border: 0px solid transparent;
	outline: none;/*to remove the input box*/
}
.input-box label{
	position:absolute;/*because i want this to overlap with input box and start from where input box start and later move up on focus*/
	left:10px;
	top:10px;
	color:black;
	font-size: 18px;
	transition:0.5s;/*so that label smoothly goes from one state to another*/
}

.input-box input:focus ~ label,/* ~ operator basically select those labels preceded by input and are focussed*/
.input-box input:valid ~ label
{
top: -18px;
left: 0;
color: var(--content-color);
font-size: 12px;
}
.footer-navbar-minor{
	width:100%;
	height:25px;
	background-color: var(--content-color);
	text-align: center;
	font-size: 16px;
}
.submit-form{
    outline: none;
    border:2px solid black;
    padding: 10px;
	background-color: transparent;
	font-size:15px;
	color:black;
	margin-top: 5%;
    margin-left: 30%;/*to place it in center*/
    cursor: pointer;/*so that when cursor comes over button mouse pointer becomes a hand to signify a button*/
}
/*SIGNUP POPUP*/
#signup-popup{
	width:0;
	height:0;
	position:fixed;
	top:10px;
	left:82%;
	overflow:hidden;
	transition:all 1s ease-in-out;

}
#signup-popup:target{
	height:auto;
	width:60%;
	top:20%;
	left:20%;
	background-color: #dadada;
}
/*MOODS POPUP*/
.moods-popup{
	width:0;
	height:0;
	position:fixed;
	top:10%;
	left:10%;
	overflow:hidden;
	transition:all 1s ease-in-out;
}
.moods-popup:target{
	height:auto;
	width:80%;
	top:10%;
	left:10%;
	background-color: #dadada;
}
.image-matter{
	width:95%;
	height:350px;
	background-color:#dadada;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-around;
	align-content: center;
	min-height: 350px;
	min-width:550px;

}
.song-images
{
	width:35%;
	height:70%;
	margin:10px;
	background-color:var(--light-bg);
	min-width:250px;
	min-height:250px;
	overflow: hidden;
}
.song-names
{
	width:45%;
	height:70%;
	margin:10px;
	min-width:250px;
	min-height: 250px;
	max-height:70%;
	background-color:var(--light-bg);
	overflow:auto;
}

.image-placement{
	width:250px;
	height:175px;
	margin:20px;
	margin-left:35px;
	box-shadow:0 0 20px 0 #000;
	background-size:contain;
}

.image-placement:hover
{
	border:1px solid black;
	transform:scale(1.1);
	transition:0.5s ease-in-out;
}